* {
	box-sizing: border-box;
	padding: 0em;
	margin: 0;
}

body {
	background-color: black;
	background-size: cover;
}

.container_header {
	min-height: 550px;
	display: flex;
	margin: 10px;
	flex-direction: column;
	background-image: url(main_page_cover.webp);
	background-size: cover;
	background-position: 0px -100px;
	background-repeat: no-repeat;
	border-radius: 20px;
}

.nav_bar_top li {
	display: flex;
	flex-direction: row;
	margin: 10px;
	justify-content: flex-end;
}

.nav_bar_top li ul {
	margin: 0.7em;
	color: white;
	font-size: 1.2em;
	font-family: "Readex Pro", sans-serif;
	font-weight: bold;
}

.nav_bar_top li ul a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	font-family: "Readex Pro", sans-serif;
	font-weight: bold;
}

.header_text {
	color: white;
	padding-left: 0.5em;
	padding-top: 2em;
	padding-bottom: 2em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 5em;
	font-family: "Kaushan Script", cursive;
}

.main_page_things {
	margin-top: 100px;
	display: flex;
	/* This is a shorthand notation for flex direction and flex wrap property  */
	flex-flow: row wrap;
}

.box {
	transform: translateY(-200px);
	width: 90%;
	height: auto;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	word-spacing: 0.05em;
	font-family: "Twinkle Star", cursive;
	line-height: 2em;
	box-shadow: 8px 5px 20px rgb(0, 30, 37);
	background-color: rgb(6, 3, 49);
	color: white;
}

.lucky_signoff {
	font-family: "Rock Salt", cursive;
	text-align: end;
	font-size: 1.2em;
}

.second_header {
	font-family: "Rock Salt", cursive;
	padding: 10px;
	font-size: 1.5em;
	letter-spacing: 0.02em;
}

.general_para {
	padding-top: 10px;
	font-size: 1.1em;
	letter-spacing: 0.05em;
}

.inner_box {
	transform: translateY(-200px);
	width: 25%;
	height: auto;
	margin-top: 10px;
	margin: auto;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	word-spacing: 0.05em;
	font-family: "Twinkle Star", cursive;
	line-height: 2em;
	box-shadow: 8px 5px 20px rgb(0, 30, 37);
	background-color: rgb(6, 3, 49);
	color: white;
}

.inner_box li {
	list-style: none;
}

.end_credits {
	width: 100%;
	box-shadow: 8px 5px 20px rgb(0, 30, 37);
	background-color: rgb(6, 3, 49);
	height: auto;
}

.end_credits li {
	margin: 10px;
	display: flex;
	justify-content: space-evenly;
}

.end_credits li ul {
	font-family: "Rock Salt", cursive;
	font-size: 1em;
	text-decoration: none;
	color: white;
	margin: 0px 20px 0px 20px;
}

.end_credits li ul a {
	font-family: "Rock Salt", cursive;
	font-size: 1em;
	text-decoration: none;
	color: white;
}
