* {
	box-sizing: border-box;
	padding: 0rem;
	margin: 0;
}

body {
	background-color: black;
	background-size: cover;
	margin: 10px;
}

/* THe menu icon transition */

.menu_icon {
	cursor: pointer;
	width: auto;
	height: auto;
}

.bar1,
.bar2,
.bar3 {
	height: 2px;
	width: 20px;
	background-color: white;
	margin-top: 5px;
	transition: 0.4s;
}

.change .bar1 {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.change .bar2 {
	transform: translate(3px);
}

.change .bar3 {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* THe whole thing for the top nav bar including the chemistry REdifined and nav bar */

.container_header {
	height: auto;
	display: flex;
	margin: 10px 10px 5rem 10px;
	flex-direction: column;
	align-items: space-around;
	border-radius: 20px;
}

/* THe top nav bar */

.nav_bar_top li {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 10px;
	align-items: center;
}

.nav_bar_top li ul {
	border-bottom: solid 2px rgb(98, 87, 255);
	margin: 0.7rem;
	padding-bottom: 8px;
	color: white;
	font-size: 1.2rem;
	font-family: "Readex Pro", sans-serif;
	font-weight: bold;
}

.nav_bar_top li ul a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	font-family: "Readex Pro", sans-serif;
	font-weight: bold;
}

.nav_bar_top li :hover {
	border-bottom: solid 1px tomato;
}

.nav_bar_top li ul :hover {
	/* This is added so that extra border is not added */
	border-bottom: transparent;
}

/* Header text : "Chemistry Redifined!!" */

.header_text {
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 5rem;
	font-family: "Kaushan Script", cursive;
}

/* Main Page,  not include the top navigaion bar */

.main_page_things {
	margin-top: 10px;
	display: flex;
	/* This is a shorthand notation for flex direction and flex wrap property  */
	flex-flow: row wrap;
}

.box {
	width: auto;
	height: auto;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	word-spacing: 0.05rem;
	font-family: "Twinkle Star", cursive;
	line-height: 2rem;
	box-shadow: 8px 5px 20px rgb(0, 30, 37);
	background-color: rgb(6, 3, 49);
	color: white;
}

.box li {
	list-style: none;
}

.lucky_signoff {
	font-family: "Rock Salt", cursive;
	text-align: end;
	font-size: 1.2rem;
}

.second_header {
	font-family: "Rock Salt", cursive;
	padding: 10px;
	font-size: 1.5rem;
	letter-spacing: 0.02rem;
}

.general_para {
	padding-top: 10px;
	font-size: 1.1rem;
	letter-spacing: 0.05rem;
}

/* This is the CSS code for the end nav page, Do not confuse!!! */

.end_credits {
	width: 100%;
	height: auto;
}

.end_credits li {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.end_credits li ul {
	display: flex;
	justify-content: center;
	font-family: "Rock Salt", cursive;
	font-size: 1rem;
	text-decoration: none;
	color: white;
	margin: 0px 20px 0px 20px;
}

.end_credits li ul a {
	font-family: "Rock Salt", cursive;
	font-size: 1rem;
	text-decoration: none;
	color: white;
}

/* Scrollbar decorations, super cool actually */
::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: linear-gradient(transparent, rgb(128, 0, 0), transparent);
}
